{% extends 'SeeditApp/base.html' %}
{% block title %}About - Seedit{% endblock %}</title>
{% block content %}
<br />
<br />
<br />
<div class="content-container animate__animated animate__fadeIn">
    <div class="content-card">
        <br />
<br />
        <div class="field">
            <h2 class="content-title">ABOUT US</h2>
            <div class="field-container">
                <p class="card-content text-no-padding">Our service is designed to help you structure your project from start to finish, so you can stay on track and achieve your goals. Whether you're working on a small project with a few team members or a large-scale project, we have the tools and expertise to help you succeed.</p>
        </div>
      </div>
      <br />
<br />
    </div>
</div>
<br />
<br />
<br />
<br />
<br /> 
{% endblock %}