{% extends 'SeeditApp/base.html' %}
{% block title %}
Projects - Structit
{% endblock %}
{% block content %}
<div class="content-container animate__animated animate__fadeIn">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h2 class="profile-title">Projects</h2>
        <a href="{% url 'SeeditApp:create_project' %}" class="button navbar-buttons button-primary form-button" style="margin: 40px 0 0 0; width: fit-content; padding: 4px 12px;">Create Proejct</a>
    </div>
    {% for project in projects %}
    <div class="opportunity-card">
        <div class="opportunity-content">
            <a href="{% url 'SeeditApp:project_page' project.id %}"><div class="opportunity-head">{{project.title}}</div></a>
            <div class="opportunity-description">{{project.description|slice:":150"}}...</div>
        </div>
    </div>
    {% endfor %}
</div> 
{% endblock %}